/*---------------------------Start Pagination Css-------------------------- */
.Table__itemCount {
    /* margin-top: 10px; */
    font-size: 14px;
  }
  
  .Table__pagination {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
  }
  
  .Table__pageButton {
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .Table__pageButton:disabled {
    cursor: not-allowed;
    color: gray;
  }
  
  .Table__pageButton--active {
    color: #45b3e3;
    font-weight: bold;
  }
  /*---------------------------End Pagination Css-------------------------- */
  .setDistwoItem{
    margin-top: 4px;
    margin-left: 10px;
  }
  p{
    font-weight: normal;
    font-size: 13px;
  }
  .rfSubmitBtn{
    height: 30px;
    background-color: #6495ED !important;
  }
.setWithForPan{
  width:100%;
}
.setWithForPan .makeStyles-textField-81 {
  width: 100%;
}
::placeholder{
  font-size: 12px;
}